<div><h1>Restaurants Index</h1></div>
<div>
<ul>
<% @restaurants.each do |restaurant| %>
  <li><%=  restaurant.name %></li>
  <li><%=  restaurant.address %></li>
  <%= link_to "See more", restaurant_path(restaurant) %>
  <% end %>
</ul>
</div>
